<mat-card class="card">

  <mat-card-header>
    <mat-card-title class="title-card">PREMIUM PLAN</mat-card-title>
    <mat-card-subtitle class="card-price"><span class="old-price">$24.99</span>&nbsp;<strong>$9.99</strong> / month</mat-card-subtitle>
  </mat-card-header>

  <span class="card-icon">🚀</span>

  <div class="benefits">
    <ul>
      <li>🎁&nbsp;All features unlocked</li>
      <li>⚖️&nbsp;Get balance</li>
      <li>📌&nbsp;Create budgets</li>
      <li>🤑&nbsp;See summary by budget</li>
      <li>💸&nbsp;Track expenses</li>
    </ul>
  </div>

  <mat-card-actions>
    <app-payment></app-payment>
  </mat-card-actions>

</mat-card>