<mat-toolbar>

  <mat-toolbar-row class="toolbar-row">

    <h1>Dashboard</h1>
  
    <span class="spacer"></span>
  
    <span class="username">Hey, {{ user.fname }}</span>
  
    <app-avatar class="avatar" [matMenuTriggerFor]="menu"></app-avatar>
  
    <mat-menu #menu="matMenu">
  
      <button mat-menu-item disabled>
        <span>😀&nbsp;Profile</span>
      </button>
  
      <button mat-menu-item disabled>
        <span>⚙️&nbsp;Setting</span>
      </button>
  
      <button mat-menu-item disabled>
        <span>🚀&nbsp;Upgrade</span>
      </button>
  
      <mat-divider></mat-divider>
  
      <button mat-menu-item (click)="loggout()">
        <span>👋🏻&nbsp;Log Out</span>
      </button>
  
    </mat-menu>
  </mat-toolbar-row>


</mat-toolbar>