<mat-card class="card">
  <div class="card-wrapper">
    <div class="card-icon">
      <span>📝</span>
    </div>
    <div class="card-info">
      <div class="card-info-left">
        <span class="truncate-text" [matTooltip]="data.title">Desc: {{ data.title }}</span>
        <span class="truncate-text">Budget: ${{ data.amount | number:'1.2-2' }}</span>
      </div>
      <div class="card-info-right">
        <span class="truncate-text">Spent: ${{ data.spent | number:'1.2-2' }}</span>
        <span class="truncate-text">Free: ${{ data.free | number:'1.2-2' }}</span>
      </div>
    </div>
  </div>
  <div class="card-wrapper">
    <mat-progress-bar mode="determinate" [value]="data.progress"></mat-progress-bar>
  </div>
</mat-card>