form {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 450px;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.form-group {
  display: flex;
  justify-content: space-between;
}

div {
  margin-top: 20px;
}

@media screen and (max-width: 480px){
  form {
    width: 90%;
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    transform: translate(0%, 0%);
    margin: 0 auto;
  }

  .form-group {
    flex-direction: column;
  }
}