<div class="container">
  <div class="wrapper">
    <form [formGroup]="form" (ngSubmit)="login()" (keyup.enter)="login()">

      <app-logo></app-logo>
      
      <mat-form-field>
        <mat-label>Email</mat-label>
        <input matInput type="email" placeholder="Ex: jsmith@gmail.com" formControlName="email" [readonly]="loading">
      </mat-form-field>
      
      <mat-form-field>
        <mat-label>Password</mat-label>
        <input matInput type="password" placeholder="******" formControlName="password" [readonly]="loading">
      </mat-form-field>
    
      <button mat-raised-button color="primary" type="submit" [disabled]="form.invalid || loading">Login</button>
  
      <div class="spinner" *ngIf="loading">
        <mat-spinner mode="indeterminate" color="primary" diameter="40"></mat-spinner>
      </div>
      
    </form>
    
    <div class="signup-wrapper">
      <span>Do you haven't an account?</span>
      <button mat-stroked-button color="primary" [routerLink]="['/signup']">Signup</button>
    </div>  
  </div>
  <div class="container-illustration">
    <app-illustration [image]="illustration" [title]="'Login and take control'" [message]="'We help you save money by establishing budgets for each area of your life'"></app-illustration>
  </div>
  <div class="container-message">
    <h2>We help you save money by establishing budgets for each area of your life</h2>
  </div>
</div>