<div class="container">
  <form [formGroup]="form" (ngSubmit)="login()" (keyup.enter)="login()">

    <app-logo></app-logo>

    <h3>Login</h3>
  
    <mat-form-field>
      <mat-label>Email</mat-label>
      <input matInput type="email" placeholder="Ex: jsmith@gmail.com" formControlName="email">
    </mat-form-field>
  
    <mat-form-field>
      <mat-label>Password</mat-label>
      <input matInput type="password" placeholder="******" formControlName="password">
    </mat-form-field>
  
    <button mat-raised-button color="primary" type="submit" [disabled]="form.invalid">Login</button>
  
  </form>
  
  <div>
    <span>Do you haven't an account?</span>
    <button mat-stroked-button color="primary" [routerLink]="['/signup']">Signup</button>
  </div>  
</div>