.container {
  display: flex;
  justify-content: center;
  overflow: hidden;
}

form {
  display: flex;
  flex-direction: column;
  width: 400px;
  max-width: 80%;
  background:white;
  border: 1px solid rgba(0,0,0,0.2);
  border-radius: 7px;
  padding: 20px;
  
}

.spinner {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: 10px;
  margin-bottom: 10px;
}