<ng-container *ngIf="!loading">

  <app-header [user]="user"></app-header>

  <mat-divider></mat-divider>

  <div class="grid">
    <div class="summaries">
      <ng-container *ngIf="user.summary.length">
        <app-summary *ngFor="let user of user.summary" [user]="user"></app-summary>
      </ng-container>
      <div class="empty-wrapper" *ngIf="!user.summary.length">There is not data yet</div>
    </div>

    <div class="transactions">
      <app-transaction class="table-transactions" [transactions]="user.transactions"></app-transaction>
    </div>

    <div class="categories">
      <ng-container *ngIf="user.categories.length">
        <app-container-categories [categories]="user.categories" (deletedCategory)="deleteCategory($event)"></app-container-categories>
      </ng-container>
      <div class="empty-wrapper" *ngIf="!user.categories.length">There is not data yet</div>
    </div>

    <button mat-raised-button class="btn-add-category-desktop" (click)="openDialogCrud('create')">
      <mat-icon>add</mat-icon>
      <span>Add category</span>
    </button>
  </div>

  <mat-tab-group class="tabs">
    <mat-tab label="Summary">
      <div class="summaries">
        <app-summary
          *ngFor="let user of user.summary"
          [user]="user"
        ></app-summary>
      </div>
    </mat-tab>
    <mat-tab label="Transactions">
      <div class="transactions">
        <app-transaction class="table-transactions"></app-transaction>
      </div>
    </mat-tab>
    <mat-tab label="Categories">
      <div class="categories">
        <app-container-categories [categories]="user.categories"></app-container-categories>
      </div>
      <button mat-fab color="primary" class="btn-add-category-mobile" (click)="openDialogCrud('create')">
        <mat-icon>add</mat-icon>
      </button>
    </mat-tab>
  </mat-tab-group>

</ng-container>

<div class="spinner" *ngIf="loading">
  <mat-spinner mode="indeterminate" color="primary" diameter="40"></mat-spinner>
</div>