.table-container {
  border-radius: 12px;
}

mat-table {
  min-height: 296px;
  max-height: 296px;
  overflow-y: auto;
  border-radius: 12px 12px 0 0;
}

mat-paginator {
  border-radius: 0 0 12px 12px;
}

.d-flex-center {
  display: flex;
  justify-content: center;
}