<mat-toolbar>
  <mat-toolbar-row>

    <h1>{{ data.title }}</h1>

    <span class="spacer"></span>
    
    <button mat-icon-button [matMenuTriggerFor]="menuCategory" matTooltip="Options">
      <mat-icon>more_vert</mat-icon>
    </button>

    <mat-menu #menuCategory="matMenu" yPosition="below" xPosition="before">
      <button mat-menu-item (click)="openModalAddNewExpense()">
        <mat-icon>add</mat-icon>
        <span>New expense</span>
      </button>
      <mat-divider></mat-divider>
      <button mat-menu-item (click)="openModalDeleteBudget()">
        <mat-icon>delete</mat-icon>
        <span>Delete Budget</span>
      </button>
    </mat-menu>

    <button mat-icon-button (click)="onNoClick()" matTooltip="Close">
      <mat-icon>close</mat-icon>
    </button>

  </mat-toolbar-row>
</mat-toolbar>

<main>
  <div class="category-info">
    <span>Budget: ${{ data.amount | number:'1.2-2' }}</span>
    <span>Spent: ${{ data.spent | number:'1.2-2' }}</span>
    <span>Free: ${{ data.free | number:'1.2-2' }}</span>
  </div>

  <mat-progress-bar mode="determinate" [value]="data.progress"></mat-progress-bar>

  <div class="mat-elevation-z8 container-table" *ngIf="dataSource.data">
    <mat-table [dataSource]="dataSource">

      <ng-container matColumnDef="date">
        <mat-header-cell *matHeaderCellDef>Date</mat-header-cell>
        <mat-cell *matCellDef="let element">{{ element.date }}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="desc">
        <mat-header-cell class="d-flex-center" *matHeaderCellDef>Description</mat-header-cell>
        <mat-cell class="d-flex-center" *matCellDef="let element">{{ element.desc }}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="amount">
        <mat-header-cell class="d-flex-center" *matHeaderCellDef>Amount</mat-header-cell>
        <mat-cell class="d-flex-center" *matCellDef="let element">{{ element.amount | number:'1.2-2' }}</mat-cell>
      </ng-container>

      <mat-header-row mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></mat-header-row>
      <mat-row mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
    </mat-table>

    <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons aria-label="Select page of periodic elements"></mat-paginator>
  </div>

  <div class="wrapper-no-data" *ngIf="!dataSource.data">
    <h2>There is not expenses yet</h2>
  </div>
</main>
